.github/**
.vscode/**
.vscode-test/**
out/**
examples/**
.git/**
*.vsix
node_modules/**
!node_modules/jquery/dist/**
!node_modules/layui/dist/**
!node_modules/@vscode/codicons/dist/**
!node_modules/jsoneditor/dist/**
!node_modules/chatarea/**
!node_modules/marked/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.env
package-lock.json
