.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/jquery/**
!node_modules/layui/**
!node_modules/tabulator-tables/**
!node_modules/@vscode/codicons/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
